/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2018, 3:44:21 PM
    Author    
*/

@import url("https://fonts.googleapis.com/css?family=Bangers");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.apWrapper {
    -fx-background-color: transparent;
}
.apTopMenu {
    -fx-background-color: transparent;
}
.apItemSMenu {
    -fx-background-color: transparent;
}
.apDrawer {
/*    -fx-background-color: #49D9DA;*/
    -fx-background-color: linear-gradient(#93EBFF 0%, #7F63AE  100%);
}
.apRoot {
    -fx-background-color: linear-gradient(#7F63AE 0%, #febbde 100%);
}
.apLogo {
    -fx-background-color: linear-gradient(#7F63AE 0%, #febbde 100%);
}
.jfx-hamburger StackPane{
    -fx-background-color: #7F63AE;
    -fx-background-radius: 15px;
}

.jfx-text-input {
    -fx-font-size: 22px;
    -fx-text-fill: #7F63AE;
    -fx-font-family: 'Monoton', cursive;
}

.jfx-combo-box {
    -fx-font-family: "Steelfish Rg";
    -fx-background-color: #87BFB4;
    -fx-text-fill: black;
    -fx-font-size: 22px;
}
.jfx-combo-box:focus {
    -fx-text-fill: #F36A86;
    -fx-border-color: #663399;
}
.jfx-combo-box .list-cell {
    -fx-font-style: italic;
    -fx-background-color: #663399;
    -fx-text-fill: #F36A86;
    -fx-focus-color: #87BFB4;
    -fx-unfocus-color: #87BFB4;
    -fx-padding: 4 0 3 10;
    -fx-opacity: 0.8;
}
.jfx-radio-button {
    -fx-font-size: 22px;
    -jfx-selected-color: #663399;
    -jfx-unselected-color: #87BFB4;
    -fx-unselected-color: transparent;
}



.label {
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-font-family: 'Roboto', sans-serif;
}

.label-error {
    -fx-text-fill: red;
}

.label-title {
    -fx-font-family: 'Fjalla One', sans-serif;
}

.title {
    -fx-font-family: 'Bangers', cursive;
    -fx-font-size: 40px;
}

.table-view{
   -fx-background-color: transparent;
   -fx-base: #7F63AE; ;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#7F63AE 0%, #84A0C7 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #fff;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #7F63AE;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #7F63AE;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #000;
    -fx-text-fill: #7F63AE;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .table-cell{
    -fx-text-fill: #7F63AE;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.jfx-toggle-button{
    -fx-font-family: 'Fjalla One', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.toggle-button-juego {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 16px;
}

.jfx-button-juego{
    -fx-font-weight: bold;
    -fx-font-size: 24pt;
}

.color-picker .color-picker-label .text {
    -fx-fill: #000;
}

.group {
    -fx-background-color: #C0C0C0;
}

.button {
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-font-family: 'Roboto', sans-serif;
}

.button-movimientos {
    -fx-min-height: 46px;
    -fx-min-width: 35px;
    -fx-background-radius: 100;
    -fx-background-color: #fff;
    -fx-background-color: linear-gradient(#fff 20%, #7F63AE 97%);
}

.button-ejes {
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#fff 0%, #7F63AE 60%);
    -fx-min-width: 110px;
}

.button-ajustes {
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#fff 0%, #F36A86 60%);
    -fx-min-width: 110px;
}